In [1]:
# Import dependencies
import pandas as pd
import csv
import os

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import warnings
warnings.filterwarnings('ignore')

In [2]:
# The general format to create an engine is: 
# create_engine(“postgresql://login:password@localhost:5432/name_database”)

# # Create the Database Engine instance
db = create_engine("postgresql://postgres:{db_password}@127.0.0.1:5432/Portland_Housing_Prices");

# Connect to PostreSQL server
conn = db.connect();

# Read data from PostgreSQL database table and load into a DataFrame instance
merged_table_df = pd.read_sql_query("SELECT * FROM merged_table", con=conn);
merged_table_df

,abbreviatedaddress,city,zipcode,latitude,longitude,bathrooms,bedrooms,lotsize,date_sold,price,zestimate,median_income
0,4008 SE Kelly St,Portland,97202,45.499569,-122.621201,1,2,4356,2021-05-20,535000.0,550300.0,39879.0
1,6936 SE 28th Ave,Portland,97202,45.473526,-122.634125,2,4,4791,2020-08-16,775000.0,874600.0,39879.0
2,1515 SE Claybourne St,Portland,97202,45.475349,-122.650620,1,2,5227,2021-05-04,521000.0,539700.0,39879.0
3,7941 SE 36th Ave,Portland,97202,45.465736,-122.626526,3,4,6098,2020-12-13,830000.0,903000.0,39879.0
4,6908 SE Cesar E Chavez Blvd,Portland,97202,45.473179,-122.622284,2,3,6969,2020-08-11,525000.0,598800.0,39879.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5848,14558 NW Orchid St,Portland,97229,45.570641,-122.827026,3,4,4356,2020-10-05,740000.0,852600.0,70082.0
5849,1420 NW 122nd Ave,Portland,97229,45.529755,-122.802071,3,4,9147,2020-08-24,500000.0,587900.0,70082.0
5850,1462 NW 87th Ave,Portland,97229,45.529877,-122.765358,3,4,8276,2020-12-27,715000.0,794900.0,70082.0
5851,13478 NW Alvada St,Portland,97229,45.556019,-122.815109,3,4,5663,2020-08-24,640000.0,752500.0,70082.0
5852,14090 NW Bordeaux Ln,Portland,97229,45.544308,-122.822090,3,3,8712,2020-10-05,750000.0,862100.0,70082.0

In [3]:
# Create New DataFrame By Selecting Specific Columns
dataFrame = pd.DataFrame(merged_table_df,
              columns=("zipcode", "bathrooms", "bedrooms", "date_sold", "price", "median_income"));

# Print the DataFrame
dataFrame.head(5)

   zipcode  bathrooms  bedrooms   date_sold     price  median_income
0    97202          1         2  2021-05-20  535000.0        39879.0
1    97202          2         4  2020-08-16  775000.0        39879.0
2    97202          1         2  2021-05-04  521000.0        39879.0
3    97202          3         4  2020-12-13  830000.0        39879.0
4    97202          2         3  2020-08-11  525000.0        39879.0

In [4]:
# Close the database connection
conn.close()